<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="container">
    <ion-card>
      <ion-card-content>
        <ion-input 
          label="Correo Electrónico" 
          [(ngModel)]="email"
          name="email"
          type="email"
          label-placement="floating"
          fill="outline"
          required
          #emailField="ngModel"
          placeholder="jhondoe@mail.com">
        </ion-input>

        <p *ngIf="emailField.invalid && emailField.touched" class="error">
          El correo es obligatorio.
        </p>

        <ion-input 
          label="Contraseña" 
          [(ngModel)]="password"
          name="password"
          type="password"
          required
          #passField="ngModel"
          label-placement="floating"
          fill="outline"
          placeholder="es secreto">
        </ion-input>

        <p *ngIf="passField.invalid && passField.touched" class="error">
          La contraseña es obligatoria.
        </p>
        
        <p *ngIf="errorMessage" class="error">
          {{ errorMessage }}
        </p>

        <ion-button expand="full" (click)="login()">Ingresar</ion-button>
        <ion-button [routerLink]="['/register']" expand="full" fill="clear">Registrarse</ion-button>

      </ion-card-content>
    </ion-card>
  </div>

</ion-content>

