<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>main</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">login</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-input label="Correo Electronico" [(ngModel)]="email" type="email" label-placement="floating" fill="outline" placeholder="jhondoe@mail.com"></ion-input>
  </ion-item>

 <ion-item>
    <ion-input label="Contraseña" [(ngModel)]="password" type="password" label-placement="floating" fill="outline" placeholder="es secreto"></ion-input>
  </ion-item>

  <ion-button fill="clear" (click)="login()">Ingresar</ion-button>
</ion-content>
