<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registrarse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-card>
      <ion-card-content>
        <ion-avatar>
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <div class="line">
          <ion-input 
          label="Nombre" 
          [(ngModel)]="newUser.firstName"
          name="firstName"
          type="firstName"
          label-placement="floating"
          fill="outline"
          required
          #firstNameField="ngModel"
          placeholder="jhondoe@mail.com">
        </ion-input>

        <p *ngIf="firstNameField.invalid && firstNameField.touched" class="error">
          Por favor ingrese su nombre.
        </p>

        <ion-input 
          label="Apellido" 
          [(ngModel)]="newUser.lastName"
          name="lastName"
          type="lastName"
          label-placement="floating"
          fill="outline"
          required
          #lastNameField="ngModel"
          placeholder="jhondoe@mail.com">
        </ion-input>

        <p *ngIf="lastNameField.invalid && lastNameField.touched" class="error">
          Por Favor ingrese se apellido
        </p>

        <ion-input 
          label="Correo Electrónico" 
          [(ngModel)]="newUser.email"
          name="email"
          type="email"
          label-placement="floating"
          fill="outline"
          required
          #emailField="ngModel"
          placeholder="jhondoe@mail.com">
        </ion-input>

        <p *ngIf="emailField.invalid && emailField.touched" class="error">
          El correo es obligatorio.
        </p>

        <ion-input 
          label="Contraseña" 
          [(ngModel)]="newUser.password"
          name="password"
          type="password"
          required
          minlength="6"
          #passField="ngModel"
          label-placement="floating"
          fill="outline"
          placeholder="es secreto">
        </ion-input>

        <p *ngIf="passField.invalid && passField.touched" class="error">
          La contraseña deve ser de minimo 6 caracteres.
        </p>
        
        <p *ngIf="errorMessage" class="error">
          {{ errorMessage }}
        </p>

        <ion-button expand="full" (click)="register()">Registrarse</ion-button>
        <ion-button [routerLink]="['/main']" expand="full" fill="clear">Ingresar</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>